.list-group .list-group-item {
    border: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
  }
  .list-group .list-group-item .title {
    margin-bottom: 0;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
  }
  .list-group .list-group-item .action {
    display: flex;
  }
  .list-group .list-group-item .action .u-icon-base {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #efefef;
    border-radius: 4px;
    cursor: pointer;
  }
  .u-icon-base + .u-icon-base {
    margin-left: 10px;
  }