
  .nav-tabs {
    background: transparent;
    border: none;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    display: inline-flex;
  }
  
  .nav-tabs .nav-link {
    text-align: center;
    background: #ffffff;
    color: #000000;
    padding: 12px 0px;
    min-width: 160px;
    border-radius: 0;
    border: 0;
  }
  
   .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link.active {
    background: linear-gradient(90deg, #268C77 0%, #36AE85 100%);
    color: #ffffff;
  }
  
  .nav-tabs .nav-item:first-child .nav-link {
    border-radius: 4px 0px 0px 4px;
  }
  
  .nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0px 4px 4px 0px;
  }
  
  
  