.add-task-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
  }
  
  .add-task-container .add-task-sub-container .form-control {
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    min-height: 54px;
    padding: 20px;
    color: #000000;
  }
  
  .add-task-button {
    width: 20%;
    padding: 15px;
    background: linear-gradient(90deg, #268C77 0%, #36AE85 100%);
    border: none !important;
    outline: none !important;
  }
  .delete-task-button {
    width: 20%;
    padding: 15px;
    background: linear-gradient(90deg, #E92222 0%, #FF7E7D 99.99%, #36AE85 100%, #F75857 100%);
    border: none !important;
    outline: none !important;
  }