* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  code {
    font-family: 'Roboto', sans-serif;
  }
  .main-content {
    min-height: 100vh;
    background: #F8F8F8 none repeat scroll 0 0;
  }
  .head-container {
    background: linear-gradient(90deg, #268C77 0%, #36AE85 100%);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .head-container .head {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0px;
  }

  .mgLR10 {
    margin-left: 10px;
    margin-Right: 10px;
  }
  
  .mgBottom20 {
    margin-bottom: 20px !important;
  }